$brand-green: #00BF69;
$brand-white: #FFF;
$brand-gray: #39393F;
$brand-gray-50: #BBBBBB;
$brand-gray-60:  #8E8E95;
$brand-gray-70: #6A6A70;
$brand-light: rgba(254, 240, 236, 0.25);
$brand-light-50: #FCFCFC;

$font-wt-600: 600;
$font-size-12: 12px;
$font-size-18: 18px;
$font-size-20: 20px;

$border-radius: 5px;

$letter-spacing-5: -0.05em;
$letter-spacing-3: -0.03em;

$line-height-33: 33px;