.btn {
    &-custom {
        padding: 12px 20px;
    }
    &--green {
        background-color: $brand-green;
        color: $brand-white;
    }
    &--gray {
        background-color: $brand-gray;
        color: $brand-white;
        &:hover {
            color: $brand-green;
        }
    }
    &-text {
        font-size: $font-size-12;

        &-storeName {
            font-size: $font-size-18;
            line-height: 18px;
        }
    }
}