.header {
    padding-bottom: 112px;
    
    &-title {
        font-weight: $font-wt-600;
        color: $brand-gray;
        letter-spacing: $letter-spacing-5;
        font-size: 46px;
    }
    &-text {
        font-size: $font-size-20;
        line-height: $line-height-33;
        letter-spacing: $letter-spacing-3;
        color: $brand-gray-70;
        padding: 0 50px;
        margin-bottom: 65px;
    }
}